@model webshop_gyakorlas.ViewModels.BrandViewModel;
@{
    ViewData["Title"] = "Edit Brand";
}

<div class="row">
    <div class="col-12">
        <h1 class="mb-5">Edit Brand</h1>
    </div>

    <div class="col-12">
        <form enctype="multipart/form-data" method="post" asp-controller="Brand" asp-action="Edit" asp-route-id="@Model.Brand.Id">
            <div class="form-group">
                <label class="control-label" asp-for="Name"></label>
                <input class="form-control" type="text" asp-for="Name" value="@Model.Name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label" asp-for="Descreption"></label>

                <textarea asp-for="Descreption" class="form-control">
                    @Model.Descreption
                </textarea>

                <span asp-validation-for="Descreption" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Logo" class="control-label">Logo</label>

                <div class="custom-file">
                    <input asp-for="Logo" class="custom-file-input" id="custom-file" />

                    <label class="custom-file-label" for="customFile">Choose file</label>
                </div>

                <span asp-validation-for="Logo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" class="btn btn-success" value="Edit" />
                <a asp-controller="Brand" asp-action="Index" class="btn btn-secondary">Back to list of brands</a>
            </div>
        </form>
    </div>
</div>

@section scripts{
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript">

        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
}