<nav class="navbar navbar-expand-lg navbar-toggleable-lg navbar-dark bg-primary border-bottom box-shadow mb-3">
    <div class="container">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">WatchShopCo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-lg-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Shop" asp-action="Create">Add Product</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Brand" asp-action="Create">Add Brand</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        More
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" asp-area="" asp-controller="Order" asp-action="Index">Orders</a>
                        <a class="dropdown-item" asp-area="" asp-controller="Shop" asp-action="Index">Shop</a>
                        <a class="dropdown-item" asp-area="" asp-controller="Brand" asp-action="Index">Brands</a>

                        <div class="dropdown-divider"></div>

                        <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Faq">F.A.Q.</a>
                        <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
                    </div>
                </li>

                <!-- Role regisztracio
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Role" asp-action="Index">Role</a>
                </li>
                -->
            </ul>
            <partial name="_LoginPartial" />
        </div>
    </div>
</nav>